/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
    @apply antialiased;
    @apply h-screen;
    @apply font-sans;
    font-size: 16px;
    background-color: #f9f9f9;
}

footer {
    color: #222222;
    background: #F6F6F6;
}

.gsib_a {
    padding: 0 !important;
}

input.gsc-input {
    padding: 4px 10px !important;
    height: auto !important;
    background: transparent;
}

.gsc-search-button-v2 {
    padding: 8px 27px !important;
}

@layer components {


    h2 {
        @apply text-lg text-brand font-bold;
    }

    h3 {
        @apply text-brand font-semibold;
    }

    h4 {
        @apply text-brand font-semibold;
    }

    h5 {
        @apply text-gray-600 font-semibold text-sm;
    }

    main a {
        @apply text-accent hover:underline;
    }

    .post {
        background: #ECF3F7;
    }

    .post .inline-attachment,
    .post image:not(.smilies),
    .post img:not(.smilies):not(.avatar) {
        @apply max-w-full lg:max-w-prose;
    }

    .post .prose > image:not(.smilies),
    .post .prose > img:not(.smilies):not(.avatar),
    .post .inline-attachment {
        @apply border border-gray-200 bg-white shadow my-2 p-1;
    }

    .post .inline-attachment dd {
        @apply text-xs text-gray-600 border-t border-gray-200 pt-1 mt-1;
    }

    .post img.avatar {
        @apply py-2;
    }

    .post blockquote {
        @apply border border-gray-200 bg-gray-50 p-3 my-3;
    }
    .post blockquote cite {
        @apply block text-gray-600;
    }

}
